# Python fundamentals

<div class="questions">

### Questions

- TODO Question 1
- TODO Question 2
</div>

<div class="objectives">
  
### Objectives

- Learn the basic Python commands

</div>

In [1]:
#Import libraries and datasets
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sns
import dask

ts_data = dask.datasets.timeseries()
df = sns.load_dataset('diamonds')
df.head() #inspect dataframe

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [2]:
#dataframe attributes

df.index #name of index, in this case a range
df.columns #variables carat to z
df.values # values as a numpy.ndarray
df.dtypes # datatypes of variables

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

### DataFrame Functions
Functions are available that are attached to the DataFrame class

In [3]:
df = pd.DataFrame({"one" : [1,2,3],"two" : [3,3,4]},index = ['a','b','c']) #construct from dict
df.assign(three = [3,3,3],inplace = True)  #mutate equivalent with "assign"
df.one.array #extract column as pandas array with "array"
(df > 2).all() #boolean reductions by col with  empty, any(), all(), and bool()
df.one.map(lambda x : x + 2) #map a function over a column
df.mean(axis = "index") #work over index to average
df.mean(axis = "columns") #row wise agg
df.count(axis = "columns") #count non-na 
df.describe() #summary stats
df.iloc[1:]#slice by row integer
df[["two"]]#slice by col
df.value_counts()    #counts of unique rows

one  two
1    3      1
2    3      1
3    4      1
dtype: int64

**TODO ** - more stuff
Concept

In [5]:
# Code

<div class="challenge">

### Challenge 

TO DO - This describes a challenge.

<details>
<summary>Solution</summary>

```python
#Declare the name of the function
def solveme(x):
    '''Run code
    '''  
    
    pass
```
</details>
</div>

<div class="keypoints">

### Key points

- TODO1
- TODO1


</div>